body{
    background-color: #fbeec1;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

#container{
    background-color: #b99976;
    width: 80%;
    margin: auto;
}

img{
    width: 100%;
}

header{
    background-color: #daad86;
    width: 100%;
}

#image{
    width: 30%;
    float: left;   
}

#ingredients{
    float: left;
}

#directions{
    clear:both;
}

footer{
    background-color: #daad86;
}

/* TYPOGRAPHY */

h1{
font-size: 4.768rem;
margin-top: 0;
margin-bottom: 0;
color: #659dbd; 
}

h3{
font-size: 3.815rem;
color: #659dbd;
}

a{
color: #659dbd;
}

